<form asp-action="Index">
<label>Nhap PersonID</label>
<input type="text" name="PersonID">
<label>Nhap FullName</label>
<input type="text" name="FullName">
<label>Nhap Address</label>
<input type="text" name="Address">
<input type="submit" value="Done">
</form>
<h1>@ViewBag.Message</h1>
<h2>@ViewData["Message"]</h2>