@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Phan Duc Luong</h1>
    <p>Bài<a href="http://localhost:5069/Student">Student</a>.</p>
     <p>Bài<a href="http://localhost:5069/HeThongPhanPhoi">Hệ thống phân phối</a>.</p>
      <p>Bài<a href="http://localhost:5069/DaiLy">Đại lý</a>.</p>     
</div>
